{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_form %}
    <div class="row g-2">
        <div class="col-6 col-md-4">
            {% block component_product_box_action_buy_redirect_input %}
                {{ parent() }}
            {% endblock %}

            {% block page_product_detail_buy_product_buy_info %}
                {% set selectQuantityThreshold = 100 %}
                <input type="hidden"
                       name="lineItems[{{ id }}][id]"
                       value="{{ id }}">
                <input type="hidden"
                       name="lineItems[{{ id }}][referencedId]"
                       value="{{ id }}">
                <input type="hidden"
                       name="lineItems[{{ id }}][type]"
                       value="product">
                <input type="hidden"
                       name="lineItems[{{ id }}][stackable]"
                       value="1">
                <input type="hidden"
                       name="lineItems[{{ id }}][removable]"
                       value="1">
                <select name="lineItems[{{ product.id }}][quantity]"
                        class="form-select">
                    {% for quantity in range(product.minPurchase, product.calculatedMaxPurchase, product.purchaseSteps) %}
                        <option value="{{ quantity }}">
                            {{ quantity }}
                            {% if quantity == 1 %}
                                {% if product.translated.packUnit %} {{ product.translated.packUnit }}{% endif %}
                            {% else %}
                                {% if product.translated.packUnitPlural %}
                                    {{ product.translated.packUnitPlural }}
                                {% elseif product.translated.packUnit %}
                                    {{ product.translated.packUnit }}
                                {% endif %}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
            {% endblock %}

            {% block page_product_detail_product_buy_meta %}
                {{ parent() }}
            {% endblock %}
        </div>

        {% block page_product_detail_product_buy_button %}
            <div class="col-6 col-md-8">
                {{ parent() }}
            </div>
        {% endblock %}
    </div>
{% endblock %}

